*.bin
*.o
*.rec
*.txt
*.log
*.profile
*.sh
*.depend
*.out
*.lo
*.la
*/*.[0-9][0-9]*
*/*.eps
*/*.pdf
*/*.supp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.h.in~
config.status
config.sub
configure
coordinator/run_sm
depcomp
.deps
install-sh
libtool
.libs
missing
shard
stamp-h1
tests/cpp/.dirstamp
tests/hyperdex_test
timestamper
